<html xmlns:th="http://www.thymeleaf.org">
	
	<title th:fragment="title" th:text="'Task #' + ${task.id}"></title>
	
	
	<section th:fragment="content">
	
		<h3 class="my-margin-bottom-28">
			<em th:text="'Task #' + ${task.id}"></em>
		</h3>
		
		<table>
			<tr>
				<td>Description</td>
				<td th:text="${task.description}" class="text-justify"></td>
			</tr>
			
			<tr>
				<td>Status</td>
				<td th:text="${task.complete ? 'Complete' : 'To be done'}"></td>
			</tr>
			
			<tr th:if="${task.complete}">
				<td>Date of completion</td>
				<td th:text="${#dates.format(task.dateOfCompletion, 'dd MMMM yyyy')}"></td>
			</tr>
			
		</table>
		
		
		<div class="my-margin-top-19">
	
		    <a th:href="@{/tasks}" th:class="'btn btn-sm btn-light' + ${ task.complete ? '' : ' my-margin-right-19' }">
				<span class="my-margin-right-19">
					<i class="far fa-arrow-alt-circle-left" aria-hidden="true"></i>
				</span>
				
		    	<span>Back to the list of tasks</span>
		    </a>
	
	
		    <a
		    	th:unless="${task.complete}"
                th:href="@{/tasks/{id}/edit(id=${task.id}, backToShow=true)}"
		    	class="btn btn-sm btn-primary"
		    >
				<span class="my-margin-right-19">
					<i class="far fa-edit" aria-hidden="true"></i>
				</span>
				
		    	<span>Edit task #<span th:text="${task.id}"></span></span>
		    </a>
		    
		</div>
	
	</section>
	
</html>