<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta
        	charset="utf-8" 
            name="viewport" 
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
        
        <title>SOMETHING WENT WRONG!</title>
        
        <link href="/css/jquery-ui.css" type="text/css" rel="stylesheet" />
		<link href="/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
		<link href="/fontawesome/css/all.min.css" type="text/css" rel="stylesheet" />
		<link href="/css/app.css" type="text/css" rel="stylesheet" />
    </head>
    

    <body>
        
        <figure class="text-center">
        	<img src="/images/jolly-roger.png">
        	
        	<figcaption>
        		<h1>
        			<strong>SOMETHING WENT WRONG!</strong>
        		</h1>
        	</figcaption>
        </figure>
        
			
    </body>

</html>